*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 150dvh;
}

#div1{
    border: 5px solid red;
    width: 50px;
    height: 50px;
}

#div2{
    border: 5px solid green;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%), translate(-50%);
}

#div3{
    border: 5px solid purple;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 0;
}